@font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/sans.eot);
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/lato.eot);
}

@font-face {
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/lilita.eot);
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/montserrat.eot);
}
